@import "../../styles/properties";

@mixin initButtonDesign($component: 'design.component') {
  @include initDesign($component) {
    @include mixinButton;
    @include mixinButtonInscription;
    @include mixinButtonIcon;
    @include mixinButtonProgress;

    @include mixinButtonAlign;

    @content;
  }
}

@mixin mixinButton {
  @include flexCenter;
  position: relative;

  padding: 0;

  min-width: var(--sys-height, 0);

  text-decoration: none;

  border-radius: 0;
  border: solid transparent 0;
}

@mixin mixinButtonInscription {
  &__inscription {
    order: 4;

    transition-property: opacity;
    transition-duration: v('d.sys.transition-duration.standard');
  }
}

@mixin mixinButtonIcon {
  &__icon,
  &__trailing {
    @include initByCustom('margin', #{calc((var(--sys-height) - v('?icon._width')) / 2)});
    @include marginLeft(v('??margin'));
    @include marginRight(v('??margin'));
  }

  &__inscription ~ &__icon {
    @include marginRight(#{calc(v('??margin') - v('??padding'))});
  }

  &__inscription ~ &__trailing {
    @include marginLeft(#{calc(v('??margin') - v('??padding'))});
  }
}

@mixin mixinButtonProgress {
  &__progress.#{n('?progress--visible')} ~ * {
    opacity: v('??color-opacity', 0);
    cursor: default;
  }
}

@mixin mixinButtonAlign {
  &--align {
    &--left {
      @include justifyContent('flex-start');
    }

    &--left {
      @include justifyContent('flex-end');
    }

    &--center {
      @include justifyContent('center');
    }
  }
}
