@use "sass:selector";

$designsRoot: () !default;
$designsClasses: () !default;

@import "propertiesItem";
@import "propertiesVar";
@import "propertiesClass";

@mixin initMain {
  .a {
    #{selector.unify(&, '.d')} {
      color: cyan;
    }
    .b {
      color: blue;
      @at-root .c {
        color: red;
      }
    }
  }

  @include readClasses;
  @include readRoot;
}

@mixin readClasses {
  @each $class in $designsClasses {
    @include initClass(getProperties($class));
  }
}

/// Generation of all properties
///
/// Генерация всех свойств
@mixin readRoot {
  :root {
    @each $index in $designsRoot {
      @include initVars(getPropertiesValue($index));
    }
  }
}
