@import "../src/main";

.sb-preview {
  padding: 8px 16px;

  &__body {
    display: flex;
    position: relative;

    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;

    min-height: 52px;
  }
}
