@import "../src/main";

.sb-preview {
  padding: 8px 16px;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    min-height: 52px;
  }
}
