@import "../../styles/properties";
@import "./styleFrames";

@mixin initProgressDesign($component: 'design.component') {
  @include initDesign($component) {
    @include mixinProgress;
    @include mixinProgressCircle;

    @include mixinProgressLinear;
    @include mixinProgressLinearPosition;
    @include mixinProgressLinearIndeterminate;

    @include mixinProgressCircular;
    @include mixinProgressCircularIndeterminate;

    @include mixinProgressInverse;

    @include mixinProgressFramesLinearVisible;
    @include mixinProgressFramesLinearHidden;
    @include mixinProgressFramesLinearType1;
    @include mixinProgressFramesLinearType2;
    @include mixinProgressFramesLinearType3;

    @include mixinProgressFramesCircleVisible;
    @include mixinProgressFramesCircleHidden;
    @include mixinProgressFramesCircleType1;
    @include mixinProgressFramesCircleType2;
    @include mixinProgressFramesCircleType3;

    @content;
  }
}

@mixin mixinProgress {
  @include initByCustom('palette', v('??sys.color', v('??background-color')));
  @include initByCustom('transition-duration', 20s);

  display: none;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  z-index: 16;

  transition-property: background-color;
  animation-fill-mode: forwards;

  appearance: none;

  &--visible,
  &--hide,
  &--value {
    display: block;
  }

  &--visible {
    transition-duration: v('d.sys.transition-duration.fade.enter');
    animation-duration: v('d.sys.transition-duration.fade.enter');
  }

  &--hide {
    transition-duration: v('d.sys.transition-duration.fade.exit');
    animation-duration: v('d.sys.transition-duration.fade.exit');
  }
}

@mixin mixinProgressCircle {
  &__circle {
    transition-property: background-color, stroke-dasharray;

    fill: transparent;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-opacity: 1;
    stroke-width: v('??height');
    @include stroke(v('??palette'));
  }

  &--value {
    @include subclass('circle') {
      animation-name: none !important;
      stroke-dasharray: calc(#{v('??value')} * #{v('??circular.dasharray')}) #{v('??circular.length')};
      stroke-linecap: butt;
    }
  }
}

@mixin mixinProgressLinear {
  &--linear {
    @include paddingX(0);

    width: 100%;
    height: v('??height');

    @include background(v('??palette'));

    &::after,
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;

      content: ' ';
      @include background(v('??palette'));

      transition-property: background-color;
      transition-duration: inherit;
    }

    @include state('visible') {
      animation-name: n('??linear-visible');
    }

    @include state('hide') {
      animation-name: n('??linear-hidden');
    }

    @include state('value') {
      &::after {
        display: none;
      }

      &::before {
        right: v('??value');
        transition-property: right;
      }
    }
  }
}

@mixin mixinProgressLinearPosition {
  &--linear {
    @include state('position') {
      &--top {
        top: 0;
        transform-origin: top;
      }

      &--bottom {
        bottom: 0;
        transform-origin: bottom;
      }
    }
  }
}

@mixin mixinProgressLinearIndeterminate {
  &--linear {
    @include state('indeterminate') {
      &--type1 {
        &::after {
          animation-duration: v('??transition-duration');
          animation-fill-mode: forwards;
        }

        @include state('visible') {
          &::after {
            animation-name: #{n('??linear-type1')}
          }
        }

        @include state('hide') {
          animation-delay: v('d.sys.transition-duration.fade.exit');

          &::after {
            animation-name: #{n('??linear-type1')}
          }

          &::before {
            right: 0;
            transition-property: right;
          }
        }
      }

      &--type2 {
        &::after {
          animation: #{n('??linear-type3')} 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation-delay: 1.15s;
        }

        &::before {
          animation: #{n('??linear-type2')} 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }
      }
    }
  }
}

@mixin mixinProgressCircular {
  &--circular {
    @include initByCustom('circular.length', #{calc(2 * 3.1415926535 * 20px)});
    @include initByCustom('circular.dasharray', #{calc(v('??circular.length') / 100)});

    margin: auto;

    @include squared(v('??width'));
    max-width: #{calc(100% - 2 * v('??inset'))};

    @include rotate('-90deg');

    @include state('visible') {
      animation-name: n('??circle-visible');
    }

    @include state('hide') {
      animation-name: n('??circle-hidden');
    }

    @include state('dense') {
      @include inset(0);
    }
  }
}

@mixin mixinProgressCircularIndeterminate {
  &--circular {
    @include state('indeterminate') {
      &--type1 {
        @include subclass('circle') {
          animation-name: n('??circle-type1');
          animation-duration: v('??transition-duration');
          animation-fill-mode: forwards;
        }
      }

      &--type2 {
        @include subclass('circle') {
          transform-origin: center;
          animation: #{n('??circle-type2')} 2s linear infinite, #{n('??circle-type3')} 1.5s ease-in-out infinite;
        }
      }
    }
  }
}

@mixin mixinProgressInverse {
  &--inverse {
    @include initByCustom('palette', v('??sys.color', var(--sys-color, v('??background-color'))));
  }
}
