@import "dir";

@mixin padding($value) {
  padding: $value;
}

@mixin paddingX($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin paddingY($value) {
  padding-bottom: $value;
  padding-top: $value;
}

@mixin paddingLeft($value) {
  @include __paddingDir;
  --sys-padding-left: #{$value};
}

@mixin paddingRight($value) {
  @include __paddingDir;
  --sys-padding-right: #{$value};
}

@mixin __paddingDir() {
  padding-left: var(--d-dir-padding-left);
  padding-right: var(--d-dir-padding-right);
}

@mixin paddingTop($value) {
  padding-top: $value;
}

@mixin paddingBottom($value) {
  padding-bottom: $value;
}
