@use "sass:map";
@use "sass:string";

$designsDesigns: ('design') !default;
$designsDesign: 'design' !default;
$designsComponent: 'component' !default;
$designsValues: () !default;
$designsClassName: 'class' !default;
$designsInit: false !default;

@import "./rules";

@import "./color";
@import "./dimension";
@import "./dir";
@import "./flex";
@import "./font";
@import "./margin";
@import "./media";
@import "./padding";
@import "./position";
@import "./selector";

@import "./services/propertiesItem";
@import "./services/propertiesTool";

/// Generating styles for the component
///
/// Генерация стилей для компонента
@mixin initDesign($component) {
  $designsValues: getProperties($component) !global;
  $designsInit: false !global;

  @if ($designsValues != null) {
    $designsDesign: __getDesign() !global;
    $designsComponent: __getComponent() !global;

    $name: map.get($designsValues, 'name');

    #{'.'}#{$name} {
      $designsClassName: & !global;

      @content;

      @if ($designsInit == false) {
        @include initPropertiesComponent;
      }
    }
  }
}

/// Generating all properties
///
/// Генерация всех свойств
@mixin initPropertiesComponent {
  $value: map.get($designsValues, 'value');
  $designsInit: true !global;
  @include initProperties($value);
}

/// Generating all properties by reference
///
/// Генерация всех свойств по ссылке
/// @param {String} $link
@mixin initByLink($link) {
  $property: getProperties(__toFullName($link));

  @if ($property != null) {
    $value: map.get($property, 'value');
    $type: map.get($property, 'type');

    @if ($type =='var') {
      @include initVar($property);
    } @else if ($type =='property') {
      @include initProperty($property);
    } @else {
      @include initProperties($value);
    }
  }
}

/// Returns the name of the design
///
/// Возвращает название дизайна
@function __getDesign() {
  $component: map.get($designsValues, 'name');

  @each $design in $designsDesigns {
    @if (string.index($component, #{$design}#{'-'})) {
      @return $design;
    }
  }

  @return null;
}

/// Returns the component name
///
/// Возвращает название компонента
@function __getComponent() {
  @return map.get($designsValues, 'index');
}
